* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #9fa6ad;
            padding: 15px;
            text-align: center;
        }

        .header input {
            padding: 8px;
            width: 200px;
        }

        .header button {
            padding: 8px 15px;
            margin-left: 5px;
            cursor: pointer;
        }
       
        .main {
            height: calc(100vh - 70px);
            background-color: #497e7e;
            display: flex;
            justify-content: center;
            align-items: center;
        }

      
        .weather-card {
            display: flex;
            background-color: white;
            padding: 20px;
            gap: 30px;
            border-radius: 5px;
            text-align: center;
        }

        .weather-card h2 {
            margin-bottom: 5px;
        }

        